<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Portfolio: Amit Maurya</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="static/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="static/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="static/css/snow.css">
    <link rel="stylesheet" href="static/css/aos.css">
    <link href='static/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
    <!-- Website Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav_resume.ico') }}">
    <!-- Style-CSS -->
    <link rel="stylesheet" href="static/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <header class="index-banner" id="home">
        <!-- nav -->
        <nav class="main-header d-flex">
            <div id="brand">
                <div id="logo">
                    <a href="../index.html">
                      <i class="fas fa-crosshairs"></i>
                    </a>
                </div>
                <div id="word-mark">
                    <h1>
                        <a href="../index.html">PORTFOLIO</a>
                    </h1>
                </div>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="text-center nav-honey">
                    <li>
                        <a href="../index.html" class="active ">Home</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="scroll" href="#contact">Contact</a>
                    </li>
                    <li class="login">
                        <!--
                        <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                          Login
                        </button>
                        -->
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
        <!-- //nav -->
        <!-- banner -->
        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>
            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right">Introduction</h6>
                <h5 data-aos="fade-right">Hello, I am Amit Maurya</h5>
                <h3 data-text="I'm a Teacher">I'm a Teacher</h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#projects">My Work</a>
                    <a class="btn work scroll active" href="#contact">Reach me</a>
                </div>

            </div>
        </div>
        <!-- //banner -->
    </header>
    <!-- //header -->
    <!--// banner-slider -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-4">
                <div class="info-about text-center">
                    <h4 class="sub-tittle-w3">About Me</h4>
                    <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Welcome to My website</h3>
                    <div class="row mt-lg-5 mt-3">
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Web Design</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Movies</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Python Programming</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Training</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Sports</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">
                                    App Development</h4>
                                <div class="progress">

                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// ab -->
    <!-- /services -->
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h4 class="sub-tittle-w3 text-uppercase text-center">My Services</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">What i do</h3>
                <div class="price-right">
                    <div class="tabs">
                        <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Main</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Other</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-list-ul mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Basic Electrical Engineering</h5>
                                                    <p class="card-text">Providing foundation and practical exposure to students since last 8 years.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-lightbulb mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Signals & Systems</h5>
                                                    <p class="card-text">Exploring in the domain of signals and developing foundation for signal processing.
                                                        Complementing theory with simulations on Matlab.


                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-clone mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Image Processing</h5>
                                                    <p class="card-text">Incorporating practical exposure using Matlab and hands-on approach in the learning of the image processing techniques.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-heart mb-4"></i>
                                                    <h5 class="card-title">Free of cost sessions</h5>
                                                    <p class="card-text">I provide on demand/ doubt solving sessions to needy students.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-magic mb-4"></i>
                                                    <h5 class="card-title">Programming Trainer</h5>
                                                    <p class="card-text">Providing exposure to young students in the field of programming in the languages of C and Python.</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-sliders-h mb-4"></i>
                                                    <h5 class="card-title">Academic Counsellor</h5>
                                                    <p class="card-text">I provide counselling sessions on paths to academic future after schooling phase.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- /experience -->
    <section class="experience py-lg-5 py-4" id="experience">
        <div class="timeline py-lg-5 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Experience</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Job & Education</h3>
            <div id="my-timeline"></div>
        </div>

    </section>
    <!-- //experience -->
    <!--gallery  -->
    <section class="gallery py-md-5 py-3" id="projects">
        <div class="gallery-inner container py-md-5 pb-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">View all</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">My Projects</h3>
            <div class="row">

                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Magic Mirror, Home Automation" href="static/images/g1.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g1.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Magic Mirror, Home Automation</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Wireless Health Monitoring System" href="static/images/g2.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g2.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Wireless Health Monitoring System</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Wireless Charger" href="static/images/g3.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g3.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Wireless Charger</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Home automation using tapping" href="static/images/g4.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g4.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Home automation using tapping</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="PCB Track Plotter" href="static/images/g5.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g5.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>PCB Track Plotter</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="IOT based aquaculture" href="static/images/g6.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g6.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>IOT based aquaculture</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="static/images/g7.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g7.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Smart Farming</h3>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Object sorter using colour" href="static/images/g8.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g8.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Object sorter using colour</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="static/images/g9.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="static/images/g9.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>PORTFOLIO</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    -->
                </div>

                <!--end portfolio-area -->
            </div>
            <!-- //gallery container -->
        </div>
    </section>
    <!-- //gallery -->
    <!--/stats-->
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="far fa-lightbulb"></i>
                    <p class="counter">9</p>
                    <h4>Projects Done</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <i class="far fa-heart"></i>
                    <p class="counter">854</p>
                    <h4>Satisfied Students</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-magic"></i>
                    <p class="counter">3</p>
                    <h4>Awards</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">

                    <i class="far fa-smile"></i>
                    <p class="counter">8</p>
                    <h4>Paper Publications</h4>

                </div>
            </div>
        </div>
    </section>
    <!--//stats-->
    <!-- /testimonials -->
    <div class="testimonials py-lg-5 py-4" id="clients">
        <div class="testimonials-inner container py-lg-4 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Testimonials</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">What They Says</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonials_grid center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>The subject was new to us, but it was made superficially easy and concepts crystal clear by the faculty AMIT MAURYA sir. His patience while solving doubts and knowledge are worth an appreciation. ThankYouSoMuchSir :)</p>
                            </div>
                            <h3>Khushi Shah, Student, Vidyalankar Institute of Technology </h3>

                            <label>Mumbai</label>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid text-center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>I really want to appreciate and thank you for being such a wonderful teacher....the way you were interacting with students, way of teaching, making learning so interesting and explaining everything was outstanding.....I wanted to thank you for being such an amazing sir.</p>
                            </div>
                            <h3>Raksha Amrutkar, Student, Vidyalankar Institute of Technology

                            </h3>
                            <label>Mumbai</label>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Very descripitive,patient and allows every student understands each concepts clear and also the best in the department. Hoping that he would be in second semester as well.Really nice journey.</p>

                            </div>
                            <h3>Ajay Venkateshwaran, Student, Vidyalankar Institute of Technology

                            </h3>
                            <label>Mumbai</label>

                        </div>
                    </div>
                    <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
									<span class="fas fa-long-arrow-alt-left"></span>
									<span class="sr-only">Previous</span>
								</a>
                    <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
									<span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>

								</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- /Contact-->
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Find Me</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Contact Me Now</h3>

                <div class="contact_grid_right">
                    <form action="submit_form" method="post">
                        <div class="row contact_left_grid">
                            <div class="col-md-6 con-left" data-aos="fade-up">
                                <div class="form-group">

                                    <input class="form-control" type="text" name="Name" placeholder="Enter your name" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="email" name="Email" placeholder="Enter your email address" required="" >
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" name="Subject" placeholder="Enter subject" required="">
                                </div>
                            </div>
                            <div class="col-md-6 con-right" data-aos="fade-up">
                                <div class="form-group">
                                    <textarea id="textarea" type="text" name="Message" placeholder="Please write your comments here." required=""></textarea>
                                </div>
                            </div>
                            <div class="sub-honey mx-auto mt-3">
                                <input class="form-control" type="submit" value="Submit"> </div>
                        </div>
                    </form>
                </div>
                <div class="address row mt-lg-5">

                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Address</h6>
                                <p> B-908, Metro Residency, Netevali, Kalyan East - 421306

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>Email :
                                    <a href="mailto:example@email.com"> amit.maurya021@gmail.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Phone</h6>
                                <p>+91 9867708423</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->
    <!--/footer-->
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">

            <div class="row py-sm-4 py-3">
                <div class="col-lg-2 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#home" class="nav-link scroll">
                                Home
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                               About
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                               Services
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                              Projects
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link scroll">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                    <ul class="list-footer" data-aos="fade-up">
                        <!--
                        <li>

                            <a href="#register" data-toggle="modal" data-target="#exampleModalCenter" class="nav-link scroll">
                                Login
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="nav-link">
                               Register
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="nav-link">
                                License
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="../index.html">
                   <i class="fas fa-crosshairs"></i> PORTFOLIO
                </a>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>© 2018 Recognize. All rights reserved | Design by
                        <a href="http://w3layouts.com/"> W3layouts </a>

                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="https://www.facebook.com/profile.php?id=100016009868419" rel="noopener noreferrer" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        -->
                        <li>
                            <a href="https://www.linkedin.com/in/amit-maurya-a0b44877/" rel="noopener noreferrer" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->

    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->

    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!-- banner-type-text -->
    <script src='static/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!-- sticky nav bar-->
    <script>
        $(() => {

            //On Scroll Functionality
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });

            //Click Logo To Scroll To Top
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });

            //            //Smooth Scrolling Using Navigation Menu
            //            $('a[href*="#"]').on('click', function(e) {
            //                $('html,body').animate({
            //                    scrollTop: $($(this).attr('href')).offset().top - 100
            //                }, 500);
            //                e.preventDefault();
            //            });

            //Toggle Menu
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });

        });

    </script>
    <!-- //sticky nav bar -->
    <!-- Include jQuery Timeline Plugin -->
    <script src="static/js/jquery.roadmap.js"></script>

    <script>
        $(document).ready(function() {

            var events = [{
                    date: '2014 - Present',
                    content: 'Vidyalankar Institute of Technology <small>Assistant Professor, Electronics and Telecommunication Department</small>'
                },
                {
                    date: '2013 - 2014',
                    content: 'Shivajirao S. Jondhle College of Engineering and Technology <small>Assistant Professor, Electronics and Telecommunication Department</small>'
                },
                {
                    date: '2012 - 2014',
                    content: 'Vidyalankar Institute of Technology <small>Post Graduation, M.E. Electronics and Telecommunication (EXTC)</small>'
                },
                {
                    date: '2008 - 2012',
                    content: 'Kokan Gyanpeeth College of Engineering <small>Under Graduation, B.E. Electronics and Telecommunication (EXTC)</small>'
                },
                {
                    date: '2006 - 2008',
                    content: 'Chandibai Himmatmal Mansukhani College <small>High School, Science</small>'
                },
                {
                    date: '1994 - 2006',
                    content: 'Model English High School <small>Schooling</small>'
                },

            ];

            $('#my-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fas fa-chevron-left"></i>',
                nextArrow: '<i class="fas fa-chevron-right"></i>'
            });
        });

    </script>
    <!-- simpleLightbox -->
    <script src="static/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <!-- //simpleLightbox -->
    <!-- stats -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats -->

    <!--/ start-smoth-scrolling -->
    <script src="static/js/move-top.js"></script>
    <script src="static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear'
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->

    <!-- //js -->

    <script src="static/js/bootstrap.js"></script>

</body>

</html>
